= form_with model: @article, local: true do |f|
  .new-article
    .new-article__content.container
      .new-article__content__top
        .new-article__content__top__form
          .new-article__content__top__form--title
            = f.text_field :title, class: "choosing article-title", placeholder: "タイトルを記入"
          .new-article__content__top__form--prefecture
            = f.collection_select :prefecture_id, Spot.all, :id, :name, {}, class: "choosing article-prefecture"
        .new-article__content__top--image
          = f.file_field :image, class: "article-new", value: "#{@article.image}"
          = f.file_field :sub_image1, class: "article-new", value: "#{@article.sub_image1}"
          = f.file_field :sub_image2, class: "article-new", value: "#{@article.sub_image2}"
      .new-article__content__bottom
        = f.text_field :address, class: "choosing article-title", placeholder: "住所を記入"
        = f.text_field :latitude, class: "choosing article-title", placeholder: "緯度"
        = f.text_field :longitude, class: "choosing article-title", placeholder: "経度"
        .new-article__content__bottom--detail
          = f.text_area :detail, class: "choosing article-detail",  rows: "5", placeholder: "本文を記入"
    = f.submit