- breadcrumb :list
.article-list
  .article-list--title
    %h1 全国の記事一覧
  .article-list--detail
    %p 関連する記事は#{@articles.length}件あります。
  .article-list__box
    .wave.-one
    .wave.-two
    .wave.-three
  .article-list__choice
    .article-list__choice__form1
      %span.choose エリアを選択
      .dropdown
        .select
          %span Select Area
          %i.fa.fa-chevron-left
        %ul.dropdown-menu
          %li#1.select-menu 北海道
          %li#48.select-menu 東北
          %li#49.select-menu 関東
          %li#50.select-menu 北陸
          %li#51.select-menu 中部
          %li#52.select-menu 近畿
          %li#53.select-menu 中国
          %li#54.select-menu 四国
          %li#55.select-menu 九州
          %li#47.select-menu 沖縄
    .article-list__choice__form2
      %span.choose 都道府県を選択
      .dropdown
        #prefecture-name.select
          %span Select Prefecture
          %i.fa.fa-chevron-left
        %ul#prefecture_list.dropdown-menu
  .article-list__contents
    - @articles.each do |article|
      = link_to article_path(article.id), class: "col-md-4 article-card" do
        .card.mb-4.shadow-sm
          %img.image{src: "#{article.image.url}"}
          .card-body
            .card-body__info
              .card-body__info--title
                = article.title
              .card-body__info--prefecture
                = article.prefecture.name
            .card-body--detail
              .card-body--detail--text #{article.detail}
  .paginate
    = paginate @articles
.return_btn TOP
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js", :type => "text/javascript"}
:javascript
  $(function(){
    var pagetop = $('.return_btn');
    $(window).scroll(function () {
      if ($(this).scrollTop() > 100) {
        pagetop.fadeIn();
      } else {
        pagetop.fadeOut();
      }
    });
    pagetop.click(function () {
    $('body, html').animate({ scrollTop: 0 }, 500);
      return false;
    });
  });
