= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"
.article-show
  .article-show__left
    .article-show__left__heading
      .article-show__left__heading--title
        %p.title #{@article.title}
      .article-show__left__heading--prefecture
        %p.prefecture #{@article.prefecture.name}
    .article-show__left--image
      .swiper-container.top-carousel
        .swiper-wrapper
          .swiper-slide
            = image_tag (@article.image.url), class: "article-show__left--image--style"
          .swiper-slide
            = image_tag (@article.sub_image1.url), class: "article-show__left--image--style"
          .swiper-slide
            = image_tag (@article.sub_image2.url), class: "article-show__left--image--style"
        .swiper-button-prev
          %i.fas.fa-chevron-left.fa-3x
        .swiper-button-next
          %i.fas.fa-chevron-right.fa-3x
        .swiper-pagination
    .article-show__left__detail
      .article-show__left__detail--title
        %p.detail-title 概要
      .article-show__left__detail--text
        = @article.detail
    .article-show__left__albums
      %span.album-title> 投稿写真
      .article-show__left__albums__box
        - @article.pictures.reverse.first(8).each do |picture|
          .article-show__left__albums__box--album
            = image_tag (picture.image.url)
    .article-show__left__btn
      .article-show__left__btn__new
        %button.article-show__left__btn__new--button#post-btn 写真を投稿
      .article-show__left__btn__show
        = link_to "もっとみる", picture_path(@article.id), class:"article-show__left__btn__show--button"
  .article-show__right
    .article-show__right--relationtitle 関連エリア
    .article-show__right__relation
      %ul.article-show__right__relation
        %li.article-show__right__relation--menu
          = link_to "全国", root_path(anchor: 'link-btn'), class: "article-show__right__relation--menu--link"
          %i.fas.fa-chevron-right.article-show__right__relation--menu--icon
        %li.article-show__right__relation--menu
          = link_to "#{@parent_prefecture.name}", prefecture_path(@parent_prefecture.id), class: "article-show__right__relation--menu--link"
          %i.fas.fa-chevron-right.article-show__right__relation--menu--icon
        %li.article-show__right__relation--menu
          = link_to "#{@article.prefecture.name}", prefecture_path(@article.prefecture.id), class: "article-show__right__relation--menu--link"
          %i.fas.fa-chevron-right.article-show__right__relation--menu--icon
    .article-show__right__area このエリアの別の場所
    .article-show__right__box
      - @relation_prefectures.each do |prefecture|
        .article-show__right__box--prefecture
          = link_to "", article_path(prefecture.id), class:"prefecture-link"
          = image_tag (prefecture.image.url), class:"article-show__right__box--prefecture--image"
          %h5.article-show__right__box--prefecture--title #{prefecture.title}
.gray_panel#gray_panel
%link{href: "https://fonts.googleapis.com/css?family=Righteous&display=swap", rel: "stylesheet"}
= form_with model: @picture, local: true do |f|
  .picture-body{style:"display: none;"}
    .picture-body__left
      .picture-body__left--required 必須
      .picture-body__left--image
        %label.image-group
          .image-icon
            %i.far.fa-image.fa-4x
          %p.image-text 
            Post photos by 
            %br 
            drag and drop or clickg
          = f.file_field :image, id: "myfile"
          .change_btn Change photo
          %img#img
      .picture-body__left--error ※写真がありません
    .picture-body__right
      .picture-body__right--title
        = @article.title
      .picture-body__right--prefecture
        = @article.prefecture.name
      .picture-body__right--text
        = f.text_area :title, class: "picture-body__right--text--form choosing",  rows: "5"
      .picture-body__right--btn
        .picture-body__right--btn--cancel Cancel
        = f.hidden_field :article_id, value: "#{@article.id}"
        = f.submit "Send", class:"picture-body__right--btn--send"

:javascript
  $(function(){
    var mySwiper = new Swiper('.swiper-container', {
      effect: 'fade',
      autoHeight: true,
      loop: true,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
        reverseDirection: false
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      },
      pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
        clickable: true
      }
    });
  });