.prefecture_show.container
  - if @prefectures != nil
    .prefecture_show__header
      %p #{@prefecture.name}の観光ガイド
    - @prefectures.each do |prefecture|
      .prefecture_show__name
        %h3 #{prefecture.name}
      .prefecture_show__contents
        - prefecture.articles.last(6).each do |article|
          .card.shadow-sm.prefecture_show__contents--card
            = link_to article_path(article.id), method: :get, class:"prefecture_link" do
              .prefecture_show__contents--card--link
              %img.prefecture_show__contents--card--image{src: "#{article.image.url}"}
              .prefecture_show__contents--card--body
                = article.title
      = link_to "もっとみる", prefecture_path(id: prefecture.id), class:"article_contents__recommended--btn"
  - else 
    .prefecture_show__header
      %p #{@prefecture.name}
    .prefecture_show__profile
      = @prefecture.profile
    .prefecture_show__title
      %h4.title #{@prefecture.name}の観光スポット一覧
    .article_contents__list__new.row
      - @prefecture.articles.each do |article|
        .card.shadow-sm.prefecture_show__contents--card.card-box
          = link_to article_path(article.id), method: :get, class:"prefecture_link" do
            .prefecture_show__contents--card--link
            %img.prefecture_show__contents--card--image{src: "#{article.image.url}"}
            .prefecture_show__contents--card--body
              = article.title
