!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Traveripで旅行計画！
    = favicon_link_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity: "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", rel: "stylesheet"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    = stylesheet_link_tag    "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"
    = javascript_include_tag 'application'

  %body
    .header.shadow-sm
      - if user_signed_in?
        .header__search
          %input.header__search--input{placeholder: "Search to articles", type: "text"}
        .header__title
          = link_to root_path, class: "header__title__link" do
            %text Traverip
            %i.fa.fa-paper-plane.fa-2x
            %p.header__title__link--sub Journey to the heart
        .header__mypage
          = link_to "Mypage", user_path(current_user.id), class: "header-btn"
        .header__favorite
          = link_to "Favorite", new_article_path, class: "header-btn"
        .header__signout
          = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "header-btn"
      - else
        .header__search
          %input.header__search--input{placeholder: "Search to articles", type: "text"}
        .header__title
          = link_to root_path, class: "header__title__link" do
            %text Traverip
            %i.fa.fa-paper-plane.fa-2x
            %p.header__title__link--sub Journey to the heart
        .header__signin
          = link_to 'Sign in', new_user_session_path, class: "header-btn"
        .header__signup
          = link_to 'Sign up', new_user_registration_path, class: "header-btn"

    = yield
  .footer
    .footer__contents.container
      .footer__contents--link
        %a.btn-social-square.btn-social-square--twitter{href: "https://twitter.com/ano_memento", target: "_blank"}
          %i.fab.fa-twitter
        %a.btn-social-square.btn-social-square--github{href: "https://github.com/anomeme", target: "_blank"}
          %i.fab.fa-github
        %a.btn-social-square.btn-social-square--instagram{href: "https://www.instagram.com/kentea.s", target: "_blank"}
          %i.fab.fa-instagram
        %a.btn-social-square.btn-social-square--qiita{href: "https://qiita.com/anomeme", target: "_blank"}
          %i.fas.fa-search